<nav id="site">
    <h3>Site Navigation</h3>
    <ul>
        <li><a href="index.html">Search</a></li>
        <li><a href="map.arcgis.html">World Map</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="data.html">Data</a></li>
        <li><a href="changelog.html">Changelog</a></li>
     </ul>
</nav>
